<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="row">
        <div class="column"></div>
        <div class="column"></div>
      </div>
    <h1>personal journal</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <button <span class='del'> delete </span></button>
                <button <span class="feed"> add to feed </button>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="enter memory" name='todoItem'>
        <input type="submit">
    </form>

    <button <a href="/logout">Logout</a></button>

    <script src="js/main.js"></script>
</body>
</html>